*{
	padding: 0px;
	margin: 0px;
}

html{
	background-color: #6D213C;
}

body{
	background-color: #6D213C;
	overflow-x: hidden;
}

footer{
	width: 100%;
	position: relative;
}

.footer-wrapper{
	margin: auto;
}

.footer-icon{
	padding: 10px;
	background-color: #E3C16F;
	color: black;
	transition: all 0.3s ease-in-out;
}

.footer-icon:hover{
	background-color: #FAFF70;
}

img{
	height: width;
}